<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambow.mapper.dao.StudentCurriculumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ambow.entity.StudentCurriculum">
        <id column="id" property="id" />
        <result column="student_id" property="studentId" />
        <result column="curriculum_id" property="curriculumId" />
    </resultMap>

</mapper>
